@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: futura-pt, sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  background-color: #181818;
  color: #f4f4f4;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #181818;
}

::-webkit-scrollbar-thumb {
  border-radius: 60em;
  background-color: #1ecece;
  cursor: pointer;
}
