@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: futura-pt, sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  @apply: bg-darkBG;
  @apply: text-lightText;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
