:root {
  --darkBG: '#181818';
  --lightText: '#F4F4F4';
  --nomralText: '#ABABAB';
  --darkText: '#282828';
  --baseColor: '#ADFF00';
  --hipHopColor: '#81F4D1';
  --raveColor: '#A809E5';
  --houseColor: '#FF0000';
  --dancehallColor: '#FEFE00';
}
